{% extends 'base.html.twig' %}
{% block title %} Firs gaga {% endblock %}
{% block body %}

{% if articles %}
<table class="table table-striped">
<thead>
<tr>Article Title
<th>Action</th>
</tr>
</thead>

<tbody>
{% for article in articles %}
<tr>
<td {{ article.title }}>
<a href="/article/{{ article.id }}" class="btn btn-dark">Voir</a>
<a href="/article/edit/{{ article.id }}" class="btn btn-light">Edit</a>
<a href="#" class="btn btn-dark" data-id="{{ article.id }}">Delete</a>
</td>

</tr>
</tbody>
{% endfor %}

</table>
{% else %}
<p>No articles</p>
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="/js/main.js"></script>
{% endblock %}
